<div>
    <ul class="post-copyright">
        <!--
        <li><strong>本文作者：</strong> 谭武彬</li>
        <li>
            <strong>本文链接：</strong><a href=" http://tanwubin.github.io{{ page.url }}"> http://tanwubin.github.io{{ page.url }}</a>
        </li>
        -->
    <li><span class="hvr-icon-bounce"><i class="fa fa-flag-o hvr-icon" style="color:#2f9386;"></i>&nbsp;Focus on ICT technology and personal summary.</span>
      <br><span class="hvr-icon-bounce"><i class="fa fa-flag-o hvr-icon" style="color:#2f9386;"></i>&nbsp;Copyright：
        All articles on this website are used <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" rel="external nofollow" target="_blank">CC BY-NC-SA 3.0 CN</a></span>
        <!--<br><span class="hvr-icon-bounce"><i class="fa fa-flag-o hvr-icon" style="color:#2f9386;"></i>&nbsp;茶馆心声：
            来到这里的时候能够沉下心来，慢慢思考......</span>
        <br><span class="hvr-icon-bounce"><i class="fa fa-flag-o hvr-icon" style="color:#2f9386;"></i>&nbsp;茶馆追求：
            用技术把生活变得更加美好。</span>-->
    </li>
  </ul>
</div>